.main-header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    background: #fff;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    color: #474747;
}

.login-box .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}

.main-header .logo img,
.login-box .logo img {
    height: 70%;
}

.main-header .sidebar-toggle {
    color: #cecece;
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    font-size: 2rem;
    padding: .5rem 1.25rem;
    border: 1px solid;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
}

.main-header .sidebar-toggle:hover {
    color: #cecece;
}

.main-header .navbar .navbar-custom-menu {
    min-height: 50px;
    float: unset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .main-header .sidebar-toggle {
        opacity: 1;
        pointer-events: all;
    }

    .main-header .logo {
        width: 230px;
    }

    .main-header .navbar .navbar-custom-menu {
        justify-content: center;
    }
}

.main-header .navbar .navbar-custom-menu .login-nav > a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    margin-top: 8px !important;
    margin-bottom: 8px !important;

    color: #ae2481;
    font-size: 14px !important;
    margin-left: .7rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.main-header .navbar .navbar-custom-menu .login-nav > a.fill {
    color: #fff !important;
    background-color: #ae2481 !important;
    border-radius: 2px !important;
}

.wrapper .content-wrapper {
    margin-left: 0;
    margin-top: 120px;
    background-color: #fff;
}

.wrapper .content-wrapper .content {
    padding: 0 30px;
}

.wrapper .content-wrapper .content .title-courses {
    font-family: Raleway;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #474747;
}

.wrapper .content-wrapper .content .courses-wrapper {
    padding: 0 2px;
}

.wrapper .content-wrapper .content .courses-wrapper .course {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 2rem;
    margin: 2rem 0;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card {
    font-weight: 400;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    background-color: #f5fafc;
    height: 100%;
    color: #6e6f6d !important;
    position: relative;
    text-align: left;
    white-space: initial;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card a {
    color: unset;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card .header {
    width: 100%;
    padding: 22px 96px 14px 8.1%;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card .header .title {
    margin-bottom: 0 !important;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    min-height: 38px;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card .img-background {
    height: 144px;
    background: no-repeat center;
    background-size: cover;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card .description {
    padding-left: 8.1%;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card .description > p {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 19px;
    max-width: 95%;
    margin-bottom: 13px;
    min-height: 65px;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card .actions {
    display: flex;
    flex-direction: column;
    padding-left: 8.1%;
    padding-right: 8.1%;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.wrapper .content-wrapper .content .courses-wrapper .course .card .actions .btn {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0;
    display: inline-block;
    text-align: center;
    background-color: #fffffe;
    color: #000;
    padding: 10px 23px;
    border-radius: 1.5px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}